<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/sweetalert")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/easyui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @Html.Partial("_NavPartial")
    @RenderBody()
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/hy")
    @RenderSection("scripts", required: false)
    <script src="~/UserScripts/Shared/_Layout.js"></script>
</body>
</html>
