<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/easyui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north'" style="height:50px">
            <div style="float:left">
                <div class="easyui-panel" style="padding:5px 100px 5px 5px;">
                    <a href="#" class="easyui-linkbutton" data-options="plain:true">Home</a>
                    <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-edit'">Edit</a>
                    <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-help'">Help</a>
                    <a href="#" class="easyui-menubutton" data-options="menu:'#mm3'">About</a>
                </div>
                <div id="mm1" style="width:150px;">
                    <div data-options="iconCls:'icon-undo'">Undo</div>
                    <div data-options="iconCls:'icon-redo'">Redo</div>
                    <div class="menu-sep"></div>
                    <div>Cut</div>
                    <div>Copy</div>
                    <div>Paste</div>
                    <div class="menu-sep"></div>
                    <div>
                        <span>Toolbar</span>
                        <div>
                            <div>Address</div>
                            <div>Link</div>
                            <div>Navigation Toolbar</div>
                            <div>Bookmark Toolbar</div>
                            <div class="menu-sep"></div>
                            <div>New Toolbar...</div>
                        </div>
                    </div>
                    <div data-options="iconCls:'icon-remove'">Delete</div>
                    <div>Select All</div>
                </div>
                <div id="mm2" style="width:100px;">
                    <div>Help</div>
                    <div>Update</div>
                    <div>About</div>
                </div>
                <div id="mm3" class="menu-content" style="background:#f0f0f0;padding:10px;text-align:left">
                    <img src="http://www.jeasyui.com/images/logo1.png" style="width:150px;height:50px">
                    <p style="font-size:14px;color:#444;">Try jQuery EasyUI to build your modern, interactive, javascript applications.</p>
                </div>
            </div>
            <div style="float:right" class="login_msg">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div data-options="region:'south',split:true" style="height:50px;"></div>
        <div data-options="region:'east',split:true" title="East" style="width:150px;"></div>
        <div data-options="region:'west',split:true,collapsed:true" title="West" style="width:150px;"></div>
        <div class="container body-content" data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/hy")

    @RenderSection("scripts", required: false)
</body>
</html>
