@{ 
    var homeIndex = UrlUtility.GetMenuOfHomeIndex();
    var menus = UrlUtility.GetLinks4Menu();
}
<link href="~/Styles/Shared/_NavPartial.css" rel="stylesheet" />
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            @Html.ActionLink(homeIndex.LinkText, homeIndex.ActionName, homeIndex.ControllerName, null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var menu in menus)
                {
                    if (menu.Children == null || menu.Children.Count == 0)
                    {
                        <li>
                            @Html.ActionLink(menu.LinkText, menu.ActionName, menu.ControllerName, null, new { @class = "navbar-brand" })
                        </li>
                    }
                    else
                    {
                         <li class="dropdown">
                             <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                 @menu.LinkText
                                 <span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu">
                                 @foreach (var m2 in menu.Children)
                                 {
                                    <li>
                                        @Html.ActionLink(m2.LinkText, m2.ActionName, m2.ControllerName, null, new { @class = "navbar-brand" })
                                    </li>
                                 }
                             </ul>
                         </li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            您好，@User.GetLoginNickName()
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-hy-account">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img src="http://placehold.it/120x120"
                                                 alt="Alternate Text" class="img-responsive" />
                                            <p class="text-center small">
                                                <a href="#">Change Photo</a>
                                            </p>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@User.GetLoginNickName()</span>
                                            <span>(@User.GetLoginName())</span>
                                            <p class="text-muted small">
                                                @User.GetEmailAddress()
                                            </p>
                                            <div class="divider">
                                            </div>
                                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-hy-footer">
                                    <div class="navbar-hy-footer-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#" class="btn btn-default btn-sm">修改密码</a>
                                            </div>
                                            <div class="col-md-6">
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="submit" class="btn btn-default btn-sm pull-right" value="退出"/>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: null)</li>
                }
            </ul>
        </div>
    </div>
</nav>