@*
    如果查询条件发生变化则查询总数会发生变化,需要重新构建pagination
    1.$scope.current_page_number
    2.$scope.page_size
    3.$scope.total_count
    4.必须显示上一页、第1页、第2页、……、第99页、第100页 下一页 共100页，到第xx页 确定
*@
@using HandyWork.ViewModel.Web
@model BootstrapPagination
<div ng-controller="@Model.controller">
    <ul class="pagination">
        <li><a href="javascript:void(0)" ng-click="get_page(current_page_number-1)">上一页</a></li>
        <li><a href="javascript:void(0)" ng-class="{'myselected':current_page_number == 1 }" ng-if="total_count > 0 && 1<=max_page_number" ng-click="get_page(1)">1</a></li>
        <li><a href="javascript:void(0)" ng-class="{'myselected':current_page_number == 2 }" ng-if="total_count > 0 && 2<=max_page_number" ng-click="get_page(2)">2</a></li>
        <li><a href="javascript:void(0)" class="dot">...</a></li>
        @for (int num = 3; num <= Model.show_page_count; num++)
        {
            <li><a href="javascript:void(0)" ng-class="{'myselected':current_page_number == start_index+@num }" ng-if="total_count > 0 && start_index+@num<=max_page_number" ng-click="get_page(start_index+@num)">{{ start_index+@num }}</a></li>
        }
        <li><a href="javascript:void(0)" class="dot">...</a></li>
        <li><a href="javascript:void(0)" ng-click="get_page(current_page_number+1)">下一页</a></li>
    </ul>
</div>
<script type="text/javascript">
    var app = angular.module('handyApp', []);
    app.controller('@Model.controller', function ($scope) {
        function GetMaxPageNumber() {
            return Math.ceil($scope.total_count / $scope.page_size);
        }
        //起始页序号
        $scope.start_index = 0;
        $scope.current_page_number = 1;
        $scope.page_size = eval('@Model.page_size');
        $scope.total_count = eval('@Model.total_count');
        $scope.show_page_count = eval('@Model.show_page_count');
        $scope.max_page_number = GetMaxPageNumber(),
        $scope.get_page = function (pageNumber) {
            var maxPageNumber = $scope.max_page_number;
            function IsHitLink(itemNumber) {
                return $scope.start_index + itemNumber == pageNumber;
            }
            function IsHitStartLink() {
                return IsHitLink(1);
            }
            function IsHitEndLink() {
                return IsHitLink($scope.show_page_count);
            }
            function SetStartIndex() {
                function setStartIndexFromEndPageNumber(endPageNumber) {
                    var preMinPageNumber = endPageNumber - $scope.show_page_count + 1;
                    if (preMinPageNumber > 1) {
                        $scope.start_index = preMinPageNumber - 1;
                    }
                    else {
                        $scope.start_index = 0;
                    }
                }

                var newStartIndex = pageNumber -1;
                if (IsHitStartLink()) {
                    setStartIndexFromEndPageNumber(pageNumber);
                }
                else if (IsHitEndLink()) {
                    var nextMaxPageNumber = pageNumber + $scope.show_page_count - 1;
                    if (nextMaxPageNumber > maxPageNumber)
                    {
                        nextMaxPageNumber = maxPageNumber;
                    }
                    setStartIndexFromEndPageNumber(nextMaxPageNumber);
                }
                
            }
            //设置current_page_number
            if ($scope.total_count > 0) {
                if (pageNumber < 1) {
                    pageNumber = 1;
                }
                if (pageNumber > maxPageNumber) {
                    pageNumber = maxPageNumber;
                }
                $scope.current_page_number = pageNumber;
                //获取显示多少翻页按钮--设置样式
                SetStartIndex();
            }
        },
        $scope.jump_to_page_number = function (pageNumber) {
            
            if (pageNumber <= 1) {
                $scope.start_index = 0;
            }
            else 
            {
                var maxPageNumber = $scope.max_page_number;
                if (pageNumber >= maxPageNumber) {
                    $scope.get_page(maxPageNumber);
                }
            }
            
        }
    });
</script>